/*Add your custom styles here*/
html {
    font-size: 10px;
}

table,
td,
th {
    border: 1px solid;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.starting-title {
    text-align: center;
}